<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    We hope you find exactly what you're looking for in a place to satisfy your Burger needs.
    <br>Browse our listings, or use the search box above to narrow your search.
  </p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
  {{#link-to 'contact' class="button"}}
    Get contact!
  {{/link-to}}

</div>
  <article class="listing">
    <h3>{{model.name}}</h3>
    <div class="detail owner">
      <span>Rating:</span> {{model.reviewScore}}
    </div>
    <div class="detail type">
      <span>Location:</span> {{model.address}}, {{model.suburb}}
    </div>
  </article>
    {{#each model.reviews as |review|}}
      <div class="listing">
      Bun: {{review.bun}}
      Patty: {{review.patty}}
      Chips: {{review.chips}}
      </div>
    {{/each}}
