<div class="container">
  <h4 class="center-align">Detailed Review!</h4>
  <p class="center-align">
    See the detailed review below:
  </p>
  <<div class="center-align" >
  {{#link-to 'burger-places.index' class="waves-effect waves-light red btn"}} Return to search
  {{/link-to}}
  </div>


</div>
  <article class="name">
    <h4>{{model.name}}</h4>

    <div class="row">
      <div class="col s6">
        <span>Overall Rating:</span> {{model.reviewScore}}
        <span>Location:</span> {{model.address}}, {{model.suburb}}, {{model.post-code}}<br>
        <span>Contact: </span> {{model.phoneNo}} <br>
        <span>Web: </span> {{model.webAddress}} <br>
        <span>Lastest Comments: </span> {{review.comments}} <br>
      </div>
      <div class="col s6">
        <div class="right-align">
        <iframe
          width="250"
          height="250"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDCu3ZkqRl_jISj7svDHn8xxK_HZq4LU-w
            &q=New+York+Burgers,Melbourne" allowfullscreen>
        </iframe>
        </div>
      </div>
    </div>


      {{#link-to 'burger-places.index' class="waves-effect waves-light red btn "}} Add  Review
      {{/link-to}}


  </article>
  <table class="striped centered">
       <thead>
         <tr>
              <th data-field="id">Review No.</th>
             <th data-field="id">Bun</th>
             <th data-field="name">Patty</th>
             <th data-field="price">Chips</th>
             <th data-field="price">Atmosphere</th>
             <th data-field="price">Value</th>
         </tr>
       </thead>
       <tbody>
         {{#each model.reviews as |review|}}
         <tr>
           <td>{{review.id}}</td>
           <td>{{star-rating item=review rating=review.bun fullClassNames='fa fa-star' emptyClassNames='' }}</td>
           <td> {{star-rating item=review rating=review.patty fullClassNames='fa fa-star' emptyClassNames='' }}</td>
           <td> {{star-rating item=review rating=review.chips fullClassNames='fa fa-star' emptyClassNames='' }}</td>
           <td> {{star-rating item=review rating=review.atmosphere fullClassNames='fa fa-star' emptyClassNames='' }}</td>
           <td> {{star-rating item=review rating=review.chips fullClassNames='fa fa-star' emptyClassNames='' }}</td>
         </tr>
         {{/each}}

       </tbody>

     </table>
