<div>
        {{input type="hidden"  value='model.id' name=model.id}}

</div>
<h4 class="center-align"> Reviewing: {{model.name}} </h4>
<div >
        <label> Rate the Bun</label>
        {{input type="number" min="0" max="5" value=bun placeholder="Bun" required="true"}}
      </div>
      <div>
        <label>Rate the Patty</label>
          {{input type="number" min="0" max="5"value=patty placeholder="Patty RATING BETWEEN 1 AND 5" required="true"}}
      </div>
      <div>
        <label> Rate the Chips</label>
          {{input type="number" min="0" max="5"value=chips placeholder="Chips RATING BETWEEN 1 AND 5 " required="true"}}
      </div>
      <div>
        <label>Rate the Atmosphere</label>
          {{input type="number" min="0" max="5"value=atmosphere placeholder="Atmosphere RATING BETWEEN 1 AND 5" required="true"}}
      </div>
      <div>
        <label>Value for Money</label>
          {{input type="number" min="0" max="5" value=value placeholder="Value RATING BETWEEN 1 AND 5" required="true"}}
      </div>

      <div>
        <label>Any Comments?</label>
          {{input type="text" value=comment placeholder="Comment" required="true"}}
      </div>


      <div>
        <button class="waves-effect waves-light red btn" {{action 'createReview'}}>Submit</button>
        {{#link-to 'burger-places.index' class="waves-effect waves-light red btn"}} Return to search
        {{/link-to}}
      </div>

      {{#if responseMessage}}
  {{responseMessage}}
{{/if}}
