<div class="container">

  <h4> Welcome to Burgato </h4>
  <form>

      <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
          {{input type="email" value=emailAddress placeholder="Please type your e-mail address." autofocus="autofocus" required="true"}}
      </div>
      <div class="input-field">
        <i class="material-icons prefix">lock</i>
          {{input type="password" value=password placeholder="Password" required="true"}}
      </div>
      <div class="input-field">
        <i class="material-icons prefix">lock</i>
          {{input type="password" value=passwordConfirmation placeholder="Password Confirmation" required="true"}}
      </div>
      <div class="input-field" >
          <button class="waves-effect waves-light red btn" {{action 'createUser'}}>Signup</button>
      </div>

      {{#if responseMessage}}
  {{responseMessage}}
{{/if}}
</form>

</div>
